p, h1, h2, h3, h4, h5 {
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.textForm {
  padding: 2rem;
}

.textForm div {
  padding: 1rem 0 1rem 0;
}

.textForm div h3 {
  margin-bottom: 0.5rem;
}

.textForm div input {
  width: 60%;
  padding: 0.5rem;
  font-size: 1em;
  background-color: #EDF8FA;
  border: none;
}

.textForm div .priorityWrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-line-pack: center;
      align-content: center;
}

.textForm div .priorityWrapper div {
  padding: 0.5rem 1rem;
  background: #EDF8FA;
}

.textForm div .priorityWrapper .selected {
  background: #024347;
}

.textForm div textarea {
  width: 60%;
  padding: 0.5rem;
  resize: none;
  font-size: 1em;
  background-color: #EDF8FA;
  border: none;
}

.textForm div button {
  cursor: pointer;
  background-color: #024347;
  color: #FFF;
  padding: 0.5rem 1rem;
  border-style: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.homeWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr;
      grid-template-columns: 2fr 8fr;
  height: 100vh;
}

.homeWrapper .sidebar {
  padding: 4rem 2rem;
  background-color: #51cdec;
}

.homeWrapper .sidebar .today, .homeWrapper .sidebar .thisWeek, .homeWrapper .sidebar .archive {
  padding: 0.5rem 0 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.homeWrapper .sidebar .today p, .homeWrapper .sidebar .thisWeek p, .homeWrapper .sidebar .archive p {
  padding-left: 1rem;
  font-weight: 700;
}

.homeWrapper .todayBox, .homeWrapper .weekBox, .homeWrapper .archiveBox {
  padding: 2rem;
}

.homeWrapper .todayBox .itemsWrapper .singleItem, .homeWrapper .weekBox .itemsWrapper .singleItem, .homeWrapper .archiveBox .itemsWrapper .singleItem {
  display: -ms-grid;
  display: grid;
  padding: 0.5rem 0 0.5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 0.1fr 1fr 0.5fr;
      grid-template-columns: 0.1fr 1fr 0.5fr;
}

.homeWrapper .todayBox .itemsWrapper .singleItem .itemInteractions, .homeWrapper .weekBox .itemsWrapper .singleItem .itemInteractions, .homeWrapper .archiveBox .itemsWrapper .singleItem .itemInteractions {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeWrapper .todayBox .itemsWrapper .singleItem .itemInteractions div, .homeWrapper .weekBox .itemsWrapper .singleItem .itemInteractions div, .homeWrapper .archiveBox .itemsWrapper .singleItem .itemInteractions div {
  margin: 0 0.5rem 0 0.5rem;
  cursor: pointer;
}

.homeWrapper .todayBox .addNewTask button, .homeWrapper .weekBox .addNewTask button, .homeWrapper .archiveBox .addNewTask button {
  cursor: pointer;
  background-color: #024347;
  color: #FFF;
  padding: 0.5rem 1rem;
  border-style: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */